/* npc is a flex container */
:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* also a flex item */
  flex: 1;
  color: #121111;
  background-color: #989295;
  padding: 1em;
  border-radius: 10px;
}